In [2]:
import pandas as pd
import numpy as np

In [6]:
birth_rates = pd.read_csv("birth_rates_15_19.csv").drop(columns=["Unnamed: 0", "index"])
birth_rates

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2015,1,Ciutat Vella,1,el Raval,9.1
1,2015,1,Ciutat Vella,2,el Barri Gòtic,6.4
2,2015,1,Ciutat Vella,3,la Barceloneta,6.5
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",7.3
4,2015,2,Eixample,5,el Fort Pienc,7.5
...,...,...,...,...,...,...
360,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,12.1
361,2019,10,Sant Martí,70,el Besòs i el Maresme,9.6
362,2019,10,Sant Martí,71,Provençals del Poblenou,9.0
363,2019,10,Sant Martí,72,Sant Martí de Provençals,7.1
364,2019,10,Sant Martí,73,la Verneda i la Pau,6.1

In [9]:
deaths = pd.read_csv("deaths_15_19.csv").drop(columns=["Unnamed: 0"])
deaths

,Codi_Barri,Any,Codi_Districte,AEB,Seccio_Censal,Valor,NACIONALITAT_G
0,1,2015.0,1.0,4.588235,1011.264706,305.0,1.676471
1,2,2015.0,1.0,10.333333,1026.500000,139.0,1.416667
2,3,2015.0,1.0,14.333333,1037.466667,184.0,1.333333
3,4,2015.0,1.0,17.368421,1048.736842,163.0,1.526316
4,5,2015.0,2.0,20.916667,2010.541667,304.0,1.291667
...,...,...,...,...,...,...,...
360,69,2019.0,10.0,216.818182,10106.727273,62.0,1.545455
361,70,2019.0,10.0,220.222222,10086.388889,204.0,1.555556
362,71,2019.0,10.0,224.250000,10124.625000,154.0,1.437500
363,72,2019.0,10.0,227.250000,10113.250000,255.0,1.150000
364,73,2019.0,10.0,231.384615,10133.692308,296.0,1.346154

In [10]:
disp_income_household = pd.read_csv("disposable_income_household_15_19.csv").drop(columns=["Unnamed: 0"])
disp_income_household

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Import_€_Any
0,2015,1,Ciutat Vella,1,el Raval,10896
1,2015,1,Ciutat Vella,2,el Barri Gòtic,14456
2,2015,1,Ciutat Vella,3,la Barceloneta,14714
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",15154
4,2015,2,Eixample,5,el Fort Pienc,20817
...,...,...,...,...,...,...
360,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,25589
361,2019,10,Sant Martí,70,el Besòs i el Maresme,12787
362,2019,10,Sant Martí,71,Provençals del Poblenou,20080
363,2019,10,Sant Martí,72,Sant Martí de Provençals,18637
364,2019,10,Sant Martí,73,la Verneda i la Pau,16820

In [11]:
gini_index = pd.read_csv("gini_index_15_19.csv").drop(columns=["Unnamed: 0"])
gini_index

     Codi_Barri     Any  Codi_Districte  Seccio_Censal  Index_Gini
0             1  2015.0             1.0      11.000000   36.338095
1             2  2015.0             1.0      26.777778   40.228261
2             3  2015.0             1.0      37.000000   34.954545
3             4  2015.0             1.0      49.000000   39.515385
4             5  2015.0             2.0      10.500000   34.020000
..          ...     ...             ...            ...         ...
360          69  2019.0            10.0     123.000000   32.000000
361          70  2019.0            10.0      87.000000   30.276923
362          71  2019.0            10.0     110.500000   29.816667
363          72  2019.0            10.0     113.500000   27.650000
364          73  2019.0            10.0     133.000000   27.133333

[365 rows x 5 columns]

In [13]:
gross_income = pd.read_csv("gross_income_15_19.csv")#.drop(columns=["Unnamed: 0"])
gross_income

     Codi_Barri     Any  Codi_Districte  Import_Renda_Bruta_€
0             1  2015.0             1.0                           9950.142857
1             2  2015.0             1.0                          14118.444444
2             3  2015.0             1.0                          12745.090909
3             4  2015.0             1.0                          14595.076923
4             5  2015.0             2.0                          19182.300000
..          ...     ...             ...                                   ...
360          69  2019.0            10.0                          24135.285714
361          70  2019.0            10.0                          12460.076923
362          71  2019.0            10.0                          18016.583333
363          72  2019.0            10.0                          17247.833333
364          73  2019.0            10.0                          15612.142857

[365 rows x 4 columns]

In [19]:
immigration = pd.read_csv("immigration_15_19.csv").drop(columns=["Unnamed: 0"])
immigration

,index,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,0,2015,1,Ciutat Vella,1,el Raval,113.2
1,1,2015,1,Ciutat Vella,2,el Barri Gòtic,142.2
2,2,2015,1,Ciutat Vella,3,la Barceloneta,103.3
3,3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",113.6
4,4,2015,2,Eixample,5,el Fort Pienc,63.5
...,...,...,...,...,...,...,...
360,68,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,52.9
361,69,2019,10,Sant Martí,70,el Besòs i el Maresme,110.5
362,70,2019,10,Sant Martí,71,Provençals del Poblenou,51.9
363,71,2019,10,Sant Martí,72,Sant Martí de Provençals,45.7
364,72,2019,10,Sant Martí,73,la Verneda i la Pau,43.3

In [78]:
population = pd.read_csv("population_15_19.csv").drop(columns=["Unnamed: 0"])
population["Any"] = immigration["Any"]

In [21]:
unemployment = pd.read_csv("unemployment_15_19.csv").drop(columns=["Unnamed: 0"])
unemployment

     Codi_Barri     Any  Mes  Codi_Districte  Població_16_64_anys   Pes_atur
0             1  2015.0  6.5             1.0              34989.0  11.583333
1             2  2015.0  6.5             1.0              11868.0   9.116667
2             3  2015.0  6.5             1.0              10664.0  11.291667
3             4  2015.0  6.5             1.0              16736.0   9.958333
4             5  2015.0  6.5             2.0              20875.0   7.633333
..          ...     ...  ...             ...                  ...        ...
360          69  2019.0  6.5            10.0               8858.0   6.850000
361          70  2019.0  6.5            10.0              16577.0   8.350000
362          71  2019.0  6.5            10.0              14217.0   6.525000
363          72  2019.0  6.5            10.0              16219.0   7.933333
364          73  2019.0  6.5            10.0              17577.0   8.258333

[365 rows x 6 columns]

In [98]:
tmp1 = pd.merge(birth_rates, deaths, on=['Codi_Barri', 'Any', 'Codi_Districte']).rename(columns={"Taxa_mil_hab":"Birth_Rates_Per1000"}).drop(columns=['AEB'])
tmp2 = pd.merge(tmp1, disp_income_household, on=['Codi_Barri', 'Any', 'Codi_Districte', 'Nom_Barri', 'Nom_Districte']).drop(columns=['Seccio_Censal']).rename(columns={"Valor":"Num_Deaths",
'Import_€_Any':'Avg_Household_Income'})
tmp3 = pd.merge(tmp2, gini_index, on=['Codi_Barri', 'Any', 'Codi_Districte']).drop(columns=['Seccio_Censal', 'NACIONALITAT_G'])
tmp4 = pd.merge(tmp3, gross_income, on=['Codi_Barri', 'Any', 'Codi_Districte']).rename(columns={"Import_Renda_Bruta_€":"Avg_Gross_Income"})
tmp5 = pd.merge(tmp4, immigration, on=['Codi_Barri', 'Any', 'Codi_Districte', 'Nom_Barri', 'Nom_Districte']).drop(columns=['index']).rename(columns={"Taxa_mil_hab":"Immigration_Per1000"})
tmp6 = pd.merge(tmp5, population, on=['Codi_Barri', 'Any', 'Codi_Districte']).drop(columns=['SEXE', 'AEB', 'Seccio_Censal']).rename(columns={"Valor":"Population"})
final_df = pd.merge(tmp6, unemployment, on=['Codi_Barri', 'Any', 'Codi_Districte']).drop(columns=['Mes']).rename(columns={"Pes_atur":"Unemployment_Rate"})

In [99]:
final_df

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Birth_Rates_Per1000,Num_Deaths,Avg_Household_Income,Index_Gini,Import_Renda_Bruta_€,Immigration_Per1000,Population,Població_16_64_anys,Unemployment_Rate
0,2015,1,Ciutat Vella,1,el Raval,9.1,305.0,10896,36.338095,9950.142857,113.2,47150.0,34989.0,11.583333
1,2015,1,Ciutat Vella,2,el Barri Gòtic,6.4,139.0,14456,40.228261,14118.444444,142.2,15514.0,11868.0,9.116667
2,2015,1,Ciutat Vella,3,la Barceloneta,6.5,184.0,14714,34.954545,12745.090909,103.3,15037.0,10664.0,11.291667
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",7.3,163.0,15154,39.515385,14595.076923,113.6,22468.0,16736.0,9.958333
4,2015,2,Eixample,5,el Fort Pienc,7.5,304.0,20817,34.020000,19182.300000,63.5,31548.0,20875.0,7.633333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,12.1,62.0,25589,32.000000,24135.285714,52.9,13625.0,8858.0,6.850000
361,2019,10,Sant Martí,70,el Besòs i el Maresme,9.6,204.0,12787,30.276923,12460.076923,110.5,24847.0,16577.0,8.350000
362,2019,10,Sant Martí,71,Provençals del Poblenou,9.0,154.0,20080,29.816667,18016.583333,51.9,21116.0,14217.0,6.525000
363,2019,10,Sant Martí,72,Sant Martí de Provençals,7.1,255.0,18637,27.650000,17247.833333,45.7,26168.0,16219.0,7.933333
364,2019,10,Sant Martí,73,la Verneda i la Pau,6.1,296.0,16820,27.133333,15612.142857,43.3,28883.0,17577.0,8.258333

In [104]:
final_df.to_csv('/Users/svintitskyy/Desktop/uni/northwestern/classes/fall_23/cs333/a3/final_dataset_15_19.csv', index=True)